.container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  gap: 0.5rem;
}

.pageInfo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.page_box {
  display: flex;
}

.page {
  border: 1px solid #dee2e6;
  padding: 4px 6px;

  cursor: pointer;

  font-size: 14px;
}

.select {
  border: 1px solid #dee2e6;
  background-color: #0d6efd;
  color: white;
}
