.content_info {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 1rem 0;
}

.image_box {
  display: flex;
  gap: 1rem;
}

.image_layout {
  position: relative;
  aspect-ratio: 1;
  width: 100%;
}

.image_layout:hover .thumbnail_overlay {
  /* 확대 이미지 노출 */
  display: block;
}

.right {
  /* 확대 이미지 위치 */
  right: 0;
  left: unset;
}

.left {
  /* 확대 이미지 위치 */
  right: unset;
  left: 0;
}

.thumbnail_overlay {
  /* 확대 이미지 스타일 */
  display: none;
  position: absolute;
  top: 25%;
  width: 25vw;
  aspect-ratio: 1;
  border-radius: 8px;
  z-index: 99;
}

.thumbnail {
  border-radius: 4px;
  cursor: pointer;
}
